---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import SearchFilter from "../../components/SearchFilter.svelte"; // Import the Svelte component

let search = ""; // Initialize the search input value

const posts = (await getCollection("project")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);

const sortedPosts = [...posts].sort((a, b) => {
  const dateA: Date = new Date(a.data.pubDate);
  const dateB: Date = new Date(b.data.pubDate);
  return dateB.getTime() - dateA.getTime(); // Sort in reverse chronological order
});

let filteredPosts = [...sortedPosts]; // Initialize with all posts

// console.log(sortedPosts);

function handleSearch(event: any) {
  search = event.target.value.toLowerCase();

  // Filter posts based on the search term
  filteredPosts = sortedPosts.filter((post) =>
    post.data.title.toLowerCase().includes(search)
  );
}
---

<html lang="en" transition:name="root" transition:animate="none">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <div>
      <Header />

      <!-- Use the SearchFilter Svelte component and pass searchInput and handleSearch as props -->
      <div>
        <div transition:animate="fade">
          <SearchFilter
            client:load
            handleSearch={handleSearch}
            searchInput={search}
            allItems={filteredPosts}
            filterCategory="Article"
          />
        </div>
      </div>
    </div>
  </body>
</html>
