---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import SearchFilter from "../../components/SearchFilter.svelte"; // Import the Svelte component
import SearchCards from "../../components/SearchCards.svelte"; // Import the Svelte component

// Initialize the search term
let search = "";

// Get all posts and sort them by date
const posts = (await getCollection("project")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);

// Sort posts by date
const sortedPosts = [...posts].sort((a, b) => {
  const dateA: Date = new Date(a.data.pubDate);
  const dateB: Date = new Date(b.data.pubDate);
  return dateB.getTime() - dateA.getTime();
});

// Initialize the filtered posts
let filteredPosts = [...sortedPosts];

// Filter posts based on the category
filteredPosts = filteredPosts.filter(
  (post) => post.data.category === "Project"
);

// Handle the search term
function handleSearch(event: any) {
  search = event.target.value.toLowerCase();
  // Filter posts based on the search term
  filteredPosts = sortedPosts.filter((post) =>
    post.data.title.toLowerCase().includes(search)
  );
}
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <!-- <SearchFilter
      client:load
      handleSearch={handleSearch}
      searchInput={search}
      allItems={filteredPosts}
    /> -->

    <main class="px-2 max-w-4xl mx-auto py-2">
      <section>
        <SearchCards
          client:load
          handleSearch={handleSearch}
          searchInput={search}
          allItems={filteredPosts}
        />
      </section>
    </main>

    <Footer />
  </body>
</html>
