---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";

const posts = (await getCollection("project")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);

const sortedPosts = [...posts].sort((a, b) => {
  const dateA: Date = new Date(a.data.pubDate);
  const dateB: Date = new Date(b.data.pubDate);
  return dateB.getTime() - dateA.getTime(); // Sort in reverse chronological order
});

const filteredPosts = sortedPosts.filter(
  (post) => post.data.category === "Project"
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main class="px-2 max-w-4xl mx-auto py-2">
      <section>
        <div class="grid sm:grid-cols-2 gap-2 sm:gap-5">
          {
            filteredPosts.map((post) => (
              <div class="group shadow border border-neutral-900/30 rounded-xl sm:hover:shadow-lg transition-all duration-200 overflow-hidden">
                <a href={`/project/${post.slug}/`}>
                  <div class="h-64 relative overflow-hidden">
                    <img
                      class="h-64 group-hover:saturate-150 rounded-t-xl object-cover w-full transition-all duration-300 group-hover:scale-105"
                      src={post.data.image}
                      alt=""
                    />

                    {post.data.tags && (
                      <div class="sm:opacity-0 sm:group-hover:opacity-100 absolute bottom-0 bg-black/70 transition-all duration-700 p-2 w-full">
                        <div class="text-sm text-white pb-2">
                          Technologies Used
                        </div>
                        <div class="flex flex-wrap gap-1">
                          {post.data.tags.map((tag) => (
                            <div class="bg-neutral-900 text-white font-semibold text-[0.8rem] px-2 py-1 rounded">
                              {tag}
                            </div>
                          ))}
                        </div>
                      </div>
                    )}
                  </div>

                  <div class="p-2">
                    <div class="text-xl">{post.data.title}</div>
                    <div class="text-neutral-500 font-extrathin">
                      <FormattedDate date={post.data.pubDate} />
                    </div>
                  </div>
                </a>
              </div>
            ))
          }
        </div>
      </section>
    </main>
    <Footer />
  </body>
</html>
