---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";

type Props = CollectionEntry<"project">["data"];

const { title, description, pubDate, updatedDate, image, tags, category } =
  Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <Header />
    <main class="max-w-4xl mx-auto sm:px-2 sm:my-2">
      <!-- <a href="/project" class="text-xl font-bold">← Projects</a> -->
      <article>
        <div class="relative">
          {
            image && (
              <img
                class="h-64 object-cover sm:rounded-xl shadow"
                width={1020}
                height={510}
                src={image}
                alt=""
              />
            )
          }

          {
            category && (
              <div class="absolute bottom-0 left-0 shadow border-r border-t border-white bg-neutral-900 text-white  sm:rounded-bl-xl rounded-tr-xl p-2 px-4">
                {category}
              </div>
            )
          }
        </div>
        <div class="prose px-2 sm:px-0">
          <div
            class="flex flex-col justify-start items-start sm:items-center py-5"
          >
            <div class="font-extrathin text-neutral-500">
              <FormattedDate date={pubDate} />
              {
                updatedDate && (
                  <div>
                    Last updated on <FormattedDate date={updatedDate} />
                  </div>
                )
              }
            </div>
            <div class="text-3xl font-semibold">{title}</div>

            {
              tags && (
                <div class="flex gap-1 my-2 w-full flex-wrap justify-start sm:justify-center">
                  {tags.map((tag) => (
                    <div class="bg-neutral-900 text-white text-xs font-semibold text-[0.8rem] px-2 py-1 rounded">
                      {tag}
                    </div>
                  ))}
                </div>
              )
            }
          </div>
          <hr />
          <slot />
        </div>
      </article>
    </main>
    <Footer />
  </body>
</html>
