---
// Import statements and any script setup
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import HeaderBack from "../components/HeaderBack.astro";
import Footer from "../components/Footer.astro";
import FormatDate from "../components/FormattedDate.astro";
import { Image } from "astro:assets";
import { formatTag } from "../utils";
import { Icon } from "astro-icon";
import { fade, slide } from "astro:transitions";

type Props = CollectionEntry<"project">["data"];

const {
  title,
  description,
  pubDate,
  projectURL,
  projectRepository,
  updatedDate,
  image,
  tags,
  category,
} = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description || ""} />
    <!-- Other head tags -->
  </head>
  <body>
    <HeaderBack />
    <main
      transition:animate={fade({ duration: ".25s" })}
      class="mx-auto max-w-3xl sm:p-2"
    >
      <!-- <a href="/project" class="text-xl font-bold">← Projects</a> -->
      <article>
        <div class="flex flex-col rounded sm:border border-primary/20">
          <div class="p-2 sm:p-4">
            <div class="flex items-center gap-2">
              <div class="text-xs font-thin">
                <div
                  class="border border-primary text-primary font-semibold text-base/50 p-2 rounded"
                >
                  {category}
                </div>
              </div>
              <div class="text-base/50 text-xs">
                <FormatDate date={pubDate} />
              </div>
            </div>

            <div class="py-2">
              <div class="text-3xl font-semibold">{title}</div>
              <div class="text-base font-thin text-base/50">{description}</div>
            </div>

            <div class="">
              <div class="text-sm text-base/50 pb-1">Technologies:</div>
              <div class="flex overflow-x-auto gap-1">
                {
                  tags?.map((tag, index) => (
                    <a
                      href={`/tags/${formatTag(tag)}/`}
                      class="bg-primary text-primary-content whitespace-nowrap text-sm font-thin lowercase rounded px-2 py-1"
                    >
                      #{tag}
                    </a>
                  ))
                }
              </div>
            </div>
          </div>
          <div class="">
            {
              image && (
                <a href={projectURL || ""}>
                  <Image
                    loading="eager"
                    class="h-full min-h-64 w-full object-cover shadow border-t border-primary/20 sm:rounded-b sm:shadow-none"
                    width={1020}
                    height={510}
                    src={image}
                    alt=""
                  />
                </a>
              )
            }
          </div>
        </div>

        <div class="flex gap-2 my-2 mx-2 sm:mx-0">
          {
            projectURL && (
              <button class="group p-2 rounded border border-primary/20 md:hover:shadow transition-shadow duration-200">
                <a
                  href={projectURL}
                  target="_blank"
                  class="flex items-center gap-2"
                >
                  <div>Go to App</div>
                  <Icon
                    name="fe:app-menu"
                    class="sm:group-hover:scale-110 transition-all duration-200"
                    width="20"
                  />
                </a>
              </button>
            )
          }

          {
            projectRepository && (
              <button class="group p-2 rounded border border-primary/20 md:hover:shadow transition-shadow duration-200">
                <a
                  href={projectRepository}
                  target="_blank"
                  class="flex gap-2 items-center"
                >
                  <div>Go to Repository</div>
                  <Icon
                    name="simple-icons:github"
                    class="sm:group-hover:scale-110 transition-all duration-200"
                    width="20"
                  />
                </a>
              </button>
            )
          }
        </div>

        <div class="prose py-2 px-2 sm:px-0">
          <slot />
        </div>
      </article>
    </main>
    <Footer />
  </body>
</html>
