---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import HeaderBack from "../components/HeaderBack.astro";
import Footer from "../components/Footer.astro";
import FormatDate from "../components/FormattedDate.astro";
import { Image } from "astro:assets";
import { formatTag } from "../utils";

type Props = CollectionEntry<"project">["data"];

const { title, description, pubDate, updatedDate, image, tags, category } =
  Astro.props;
---

<html lang="en" transition:name="root" transition:animate="none">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <!-- <Header /> -->
    <HeaderBack />
    <main class="max-w-4xl mx-auto sm:px-2 sm:my-2">
      <!-- <a href="/project" class="text-xl font-bold">← Projects</a> -->
      <article transition:animate="fade">
        <div
          class="flex flex-col justify-start items-start pt-3 pb-2 rounded-t-none border-t sm:border-r sm:border-l border-neutral-900/20 sm:rounded-t px-2"
        >
          <div class="flex mb-2 gap-2">
            <div class="text-xs font-thin">
              <span
                class="border border-neutral-500 font-semibold text-neutral-500 p-1 px-2 rounded"
                >{category}</span
              >
            </div>

            <div class="text-neutral-500 text-xs">
              <FormatDate date={pubDate} />
            </div>
          </div>

          <!-- <div class="font-extrathin text-neutral-500">
            <FormattedDate date={pubDate} />
            {
              updatedDate && (
                <div>
                  Last updated on <FormattedDate date={updatedDate} />
                </div>
              )
            }
          </div> -->

          <div class="my-2 flex flex-col items-start">
            <div class="text-3xl font-semibold">{title}</div>
            <div class="text-base font-thin text-neutral-500"></div>
            {description}
          </div>

          {
            tags && (
              <div class="flex gap-1 w-full flex-wrap justify-start">
                {tags.map((tag) => (
                  <a
                    href={`/tags/${formatTag(tag)}/`}
                    class="bg-gray-200 md:hover:bg-gray-300  text-xs text-[0.8rem] px-2 py-1 rounded"
                  >
                    #{tag}
                  </a>
                ))}
              </div>
            )
          }
        </div>

        <div class="">
          {
            image && (
              <Image
                loading="eager"
                class="h-52 sm:h-64 md:h-80 object-cover sm:border sm:rounded-b shadow sm:shadow-none sm:border-neutral-900/20"
                width={1020}
                height={510}
                src={image}
                alt=""
              />
            )
          }
        </div>
        <div class="prose px-2 sm:px-0">
          <slot />
        </div>
      </article>
    </main>
    <Footer />
  </body>
</html>
